.result_area img {
  border: 1px solid #eee
}

.fukumoji img {
  border-radius: 4px;
  height: 48px;
  width: 48px;
  border: 2px solid white;
  cursor: pointer;
}

.fukumoji img:hover {
  border: 2px solid gainsboro;
}

.fukumoji img.selected {
  border: 2px solid red;
}
