name: Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.3.0
      - run: npm ci
      - run: npm run build-storybook
      - run: npm run build
        env:
          ROLLBAR_TOKEN: ${{secrets.ROLLBAR_TOKEN}}
      - uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
